@model StudentsDairyMVC.Models.Score


@{
    Layout = Layout;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Информация</title>
</head>
<body>
    <div>

        <fieldset>
            <br/>
            @Html.LabelFor(s => s.ScoreDescription, "Предмет")
            @Html.DisplayFor(s => s.ScoreDescription)
            <br />
            @Html.LabelFor(s => s.ScoreValue, "Оценка")
            @Html.DisplayFor(s => s.ScoreValue)

        </fieldset>

    </div>
</body>
</html>
