body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}
.add-form {
    margin-left: 50px;
}

.link-item-add {
    margin-top:20px;
    padding: 10px 20px 10px 20px;
}
.item-link {
    text-decoration: none;
    outline: none;
}
    .item-link:focus, .item-link:active {
        outline: none;
    } 

    .main-table table th {
        padding: 15px 15px;
    }
.main-table table td {
    padding: 5px 5px;
}

.edit-link {
    margin-right: 10px;
}
.delete-link {
    color: darkred;
}

.common-ball {
    display:none;
    font-size: 20px;
    font-weight: bold;
}

.active {
    display: block;
}